.card-container {
   padding: 1rem;
   border-radius: 10px;
   background: #242a2c;
}

.card-clicable {
   cursor: pointer;
}

.card-clicable:hover {
   background-color: #4258d3 !important;
}

.card-active {
   background-color: #6a7ad6;
}